version: 2.1

executors:
    php-executor:
        docker:
            - image: circleci/php:<<parameters.php-version>>-node
            - image: redis:alpine  # Aggiunge Redis come servizio
        parameters:
            php-version:
                type: string
                default: "8.0"
        working_directory: ~/laravel-super-cache-invalidate

jobs:
    test:
        parameters:
            php-version:
                type: string
            laravel-version:
                type: string
        executor:
            name: php-executor
            php-version: <<parameters.php-version>>
        steps:
            - checkout

            - run:
                  name: Update Composer
                  command: composer self-update

            - run:
                  name: Install Dependencies
                  command: |
                      if [ "<<parameters.laravel-version>>" = "10" ]; then
                        composer require "laravel/framework:^10.0" --no-update
                      else
                        composer require "laravel/framework:^11.0" --no-update
                      fi
                      composer install --prefer-dist --no-interaction

            # Aggiungi un'attesa per assicurarsi che Redis sia pronto
            - run:
                  name: Wait for Redis
                  command: dockerize -wait tcp://redis:6379 -timeout 60s

            - run:
                  name: Run Tests
                  command: |
                      vendor/bin/phpunit --coverage-text

workflows:
    version: 2
    test:
        jobs:
            - test:
                  name: PHP 8.0 + Laravel 10
                  php-version: "8.0"
                  laravel-version: "10"
            - test:
                  name: PHP 8.1 + Laravel 10
                  php-version: "8.1"
                  laravel-version: "10"
            - test:
                  name: PHP 8.2 + Laravel 10
                  php-version: "8.2"
                  laravel-version: "10"
            - test:
                  name: PHP 8.3 + Laravel 10
                  php-version: "8.3"
                  laravel-version: "10"
            - test:
                  name: PHP 8.4 + Laravel 10
                  php-version: "8.4"
                  laravel-version: "10"
            - test:
                  name: PHP 8.0 + Laravel 11
                  php-version: "8.0"
                  laravel-version: "11"
            - test:
                  name: PHP 8.1 + Laravel 11
                  php-version: "8.1"
                  laravel-version: "11"
            - test:
                  name: PHP 8.2 + Laravel 11
                  php-version: "8.2"
                  laravel-version: "11"
            - test:
                  name: PHP 8.3 + Laravel 11
                  php-version: "8.3"
                  laravel-version: "11"
            - test:
                  name: PHP 8.4 + Laravel 11
                  php-version: "8.4"
                  laravel-version: "11"
